.fixed-header.am-navbar{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    width: 100%; 
    z-index: 2;
}

.am-tab-bar{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto !important;
    z-index: 2
}

.page-content{
    padding: 45px 5px
}

#chat-page .chat-me .am-list-extra{
    flex-basis: auto
}

#chat-page .chat-me .am-list-content{
    padding-right: 15px;
    text-align: right
}
.stick-footer{
    z-index: 10;
    position: fixed;
    bottom: 0; 
    width: 100%
}

.error-msg {
    color: red;
    padding-left: 10px;
}